

<input type="text" name="email" id="user_email" />
<input type="text" name="password" id="user_password" />
<input type="text" name="password_confirmation" id="user_password_confirmation" />
<button type="button" class="btn" onclick="test();">OK</button>